<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Transfer</title>
    <link rel="icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    {% if error is not none %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <form method="post" action="/process_file" enctype="multipart/form-data">
        {{ file.csrf_token }}
        <p>transfer_type: {{ file.transfer_type(class="button") }}</p>
        <p>{{ file.download }} direct download (select if you have any issues)</p>
        <p>file: {{ file.file(class="button_file") }}</p>
        <div class="captcha">captcha: {{ captcha_html(captcha)|safe }}</div>
        <button type="submit" class="button">submit</button>
    </form>
    <footer>
        <a href="/privacy">privacy policy</a>
        made by
        <a href="https://spebelgenenst.is-a.dev/" target="_blank">spebelgenenst</a>
    </footer>
</body>
</html>