<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Transfer - player</title>
    <link rel="icon" href="./static/favicon.ico">
</head>
<style>
    .error {
        color: red;
    }
    video {
        height: 256px; /* Beispielgröße, anpassen nach Bedarf */
        image-rendering: crisp-edges; /* Fallback für Firefox */
        image-rendering: pixelated; /* Moderne Browser (Chrome, Edge, Safari) */
    }
</style>
<body>
    <button onclick="playPause()">Play/Pause</button>
    <button onclick="reset()">Reset</button>
    <p id="fileDuration">loading..</p>
    {% if transfer_type == "audio/wav" %}
        <audio id="file" controls>
            <source src="/get_file?transfer_type=audio/wav" type="audio/wav">
            Your browser does not support the audio element. (please report)
        </audio>
    {% endif %}

    {% if transfer_type == "video/mp4" %}
        <video id="file" disablePictureInPicture>
            <source src="/get_file?transfer_type=video/mp4" type="video/mp4">
            Your browser does not support the video element. (please report)
        </video>
    {% endif %}

    <form method="post" action="/player?transfer_type={{ transfer_type }}" enctype="multipart/form-data">
        {{ youtube_form.csrf_token }}
        <p>Custom Youtube Video URL: {{ youtube_form.url }}</p>
        <button type="submit" class="button">submit</button>
    </form>

    <iframe src="https://www.youtube.com/embed/{{ youtube_video }}{{ "?mute=1" if transfer_type == "audio/wav" else "" }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</body>
<script>
    var file = document.getElementById("file"); 
    file.volume = 0.1;

    file.addEventListener('loadedmetadata', function() {
        file.play();
        file.pause();
        file.currentTime = 0;
        document.getElementById("fileDuration").innerHTML = file.duration + " seconds (may be wrong)";
    })

    function playPause() { 
    if (file.paused) 
        file.play(); 
    else 
        file.pause(); 
    }
    function reset() {
        file.pause();
        file.currentTime = 0;
    }
</script>
</html>