<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain Transfer - player</title>
    <link rel="icon" href="./static/favicon.ico">
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <div>
        <button class="button" onclick="playPause()">Play/Pause</button>
        <button class="button" onclick="reset()">Reset</button>
        <div id="fileDuration">file couldn't load! please try again <a href="/">return to homepage</a></div>
        {% if transfer_type == "audio/wav" %}
            <audio id="file" controls>
                <source id="media" src="/get_file?transfer_type=audio/wav" type="audio/wav">
                Your browser does not support the audio element. (please report)
            </audio>
        {% endif %}

        {% if transfer_type == "video/mp4" %}
            <video id="file" disablePictureInPicture>
                <source id="media" src="/get_file?transfer_type=video/mp4" type="video/mp4">
                Your browser does not support the video element. (please report)
            </video>
        {% endif %}
    </div>
</body>
<script>
    var file = document.getElementById("file"); 
    file.volume = 0.1;

    file.addEventListener('loadeddata', function() {
        document.getElementById("fileDuration").innerHTML = file.duration + " seconds (may be wrong)";
    })

    function playPause() { 
    if (file.paused) 
        file.play(); 
    else 
        file.pause(); 
    }
    function reset() {
        file.pause();
        file.currentTime = 0;
    }
</script>
</html>